# Server
PORT=5000
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=billcraft
DB_USER=my_user
DB_PASSWORD=My123

# JWT
JWT_SECRET=b95c98c5c6839e872e77ecead43b328e876578c268e88e1386671d2fba4bb2fedc6c4faa05a5326a
JWT_EXPIRES_IN=7d

# Razorpay (optional)
RAZORPAY_KEY_ID=your_razorpay_key
RAZORPAY_KEY_SECRET=your_razorpay_secret

# Client URL
CLIENT_URL=http://localhost:3000
